.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 10%;
  background-color: #333da6;
}

.nav-links {
  width: 100%;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 45px;
  padding: 1% 0;  
}

.nav-links ul li:nth-child(1) {
  margin-right: auto;
}

.nav-bar ul a {
  text-decoration: none;
  color: #fff;
}

.nav-bar ul .nav-title {
  font-weight: 700;
  font-size: 1.2rem;
}
